<!-- 로그인 기능 페이지 -->
<!-- {% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
  <p>You're logged in already!</p>
{% else %} -->
<html>
  <head>
    <title>
        KNIH 로그인
    </title>
</head>
<body>
  <h2>KNIH 설문조사 로그인</h2>
<form action="/user/login" method="POST">
  <input type="id" name="id" placeholder="ID<고유번호>">
  <input type="password" name="pwd" placeholder="Password">
  <input type="submit" value="로그인">
</form>
</body>

</html>
<!-- {% endif %}
{% endblock %} -->