<!DOCTYPE html>
<html lang="en">
<head>
	<!-- 이거 필수임 -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script> -->
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>
		KNIH
	</title>
	<script type="text/javascript">
		// 팝업창 생성
		function showPopup() { window.open("pop.html", "a", "width=400, height=300, left=100, top=50"); }
		
		// 활성화 비활성화
		// $('.tg .tg-0lax').attr('disabled');
		$(document).ready(function () {
			$('.here').on('click', function () {
				$('.tg .tg-0lax').attr('disabled', true); // 과일 종류를 입력하는 input 을 활성화합니다.
				// $('.tg').focus(); // 과일 종류를 입력하는 input 에 커서를 이동시킵니다.
			});
		});
	</script>
	<style type="text/css">
		/* border-collapse:collapse; */
		.tg  {border-spacing:0; font-size:15px;}
		.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		  overflow:hidden;padding:10px 30px;word-break:normal;}
		.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
		.tg .tg-0pky{border-color:inherit; text-align:left; font-size: 20px;}
		.tg .tg-0lax{text-align:left; }
		</style>
	<style>
		body {
			background-color: #c8e0e7;
			/* background-color: #ffff9f; */
			font-family: Verdana;
			text-align: center;
		}
		form {
			background-color: #fff;
			font-size:20px;
			max-width: 900px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(6, 2, 2, 0.5);
		}
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}
		button {
			background-color: #ffffff;
			border: 4px solid #97bbef;
			border-radius: 2px;
			font-family: inherit;
			color: #97bbef;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>
	<h1>One-Week Survey</h1>
	<h1>생활습관</h1>

	<form id="form1">
		<div class="form-control">
			<label for="q1" id="label-q1">
				1. 지난 1주 동안 하루 평균 수면 시간(낮잠 포함)은 얼마나 되십니까?
			</label>

			<input type='text' id="phonenum" name="q1"/>시간
			<input type='text' id="phonenum1" name="q1"/>분
		</div>
		<br>
		<div class="form-control">
			<label for="q2" id="label-q2">
				2. 지난 1주 동안 대략 몇 시에 잠자리에 드셔서 몇 시에 일어나셨습니까? - 잠자리에 드는 시간
			</label>

			<input type="time" id="input.timepicker" name="q2"/>
		</div>
		<br>
		<div class="form-control">
			<label for="q3" id="label-q3">
				3. 지난 1주 동안 대략 몇 시에 잠자리에 드셔서 몇 시에 일어나셨습니까? - 일어나는 시간
			</label>

			<input type="time" id="input.timepicker" name="q3"/>
		</div>
		<br>
		<div class="form-control">
			<label for="q4" id="label-q4">
				4. 현재 귀하는 잠들기가 어렵습니까?
			</label>

			<label for="q4-1">
				<input type="radio" 
					id="q4-1"
					name="q4" value="1">아니오</input>
			</label>
			<label for="q4-2">
				<input type="radio" 
					id="q4-2"
					name="q4" value="2">가끔(1-2일/주)</input>
			</label>
			<label for="q4-3">
				<input type="radio" 
					id="q4-3"
					name="q4" value="3">자주(3-4일/주)</input>
			</label>
			<label for="q4-4">
				<input type="radio" 
					id="q4-4"
					name="q4" value="4">거의 매일</input>
			</label>
		</div>
		<br>
        <div class="form-control">
			<label for="q5" id="label-q5">
				5. 현재 귀하는 주무시다가 깨시면 다시 잠들기가 어려우십니까?
			</label>

			<label for="q5-1">
				<input type="radio"
					id="q5-1"
					name="q5" value="1">아니오</input>
			</label>
			<label for="q5-2">
				<input type="radio"
					id="q5-2"
					name="q5" value="2">가끔(1-2일/주)</input>
			</label>
			<label for="q5-3">
				<input type="radio"
					id="q5-3"
					name="q5" value="3">자주(3-4일/주)</input>
			</label>
			<label for="q5-4">
				<input type="radio"
					id="q5-4"
					name="q5" value="4">거의 매일</input>
			</label>
		</div>
		<br>
        <div class="form-control">
			<label for="q6" label="label-q6">
				6. 몸에 땀이 날 정도의 규칙적인 운동을 한다면 어떤 운동을 하고 계십니까?
			</label>

			<label for="q6-1">
				<input type="radio" class="here"
					id="q6-1"
					name="q6" value="1">없음</input>
			</label>
			<label for="q6-2">
				<input type="radio" 
					id="q6-2"
					name="q6" value="2">있음
						<table class="tg">
						<thead>
						  <tr>
							<th class="tg-0pky"></th>
							<th class="tg-0pky">운동종목</th>
							<th class="tg-0pky">횟수/주당</th>
							<th class="tg-0pky">1회 평균 운동량</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td class="tg-0pky">1위</td>
							<td class="tg-0lax"><input name="q6-2-1" type="text" style="font-size:15px;"></td>
							<!-- style="width:60px;height:5px;font-size:10px;" -->
							<td class="tg-0lax">주<input name="q6-2-1" type='number' id="num"/>회</td>
							<td class="tg-0lax"><input name="q6-2-1" type='text' id="time1"/>시간<input type='text' id="time2"/>분</td>
						  </tr>
						  <tr>
							<td class="tg-0pky">2위</td>
							<td class="tg-0lax"><input name="q6-2-2" type="text"></td>
							<td class="tg-0lax">주<input name="q6-2-2" type='number' id="num"/>회</td>
							<td class="tg-0lax"><input name="q6-2-2" type='text' id="time1"/>시간<input type='text' id="time2"/>분</td>
						  </tr>
						  <tr>
							<td class="tg-0pky">3위</td>
							<td class="tg-0lax"><input name="q6-2-3" type="text"></td>
							<td class="tg-0lax">주<input name="q6-2-3" type='number' id="num"/>회</td>
							<td class="tg-0lax"><input name="q6-2-3" type='text' id="time1"/>시간<input type='text' id="time2"/>분</td>
						  </tr>
						</tbody>
						</table>
				</input>
			</label>
			<!-- 세부사항 작성 -->
		</div>
		<br>
        <div class="form-control">
			<label for="q7" label="label-q7">
				7. 평균적으로 산보/산책(걷기 운동)은 얼마나 하십니까?
			</label>

			<label for="q7-1">
				<input type="radio"
					id="q7-1"
					name="q7" value="1">하지 않음</input>
			</label>
			<label for="q7-2">
				<input type="radio"
					id="q7-2"
					name="q7" value="2">
					<!-- <input type='number' min='10' max='30' step='3'>주 __회 __분</input> -->
					<!-- <input type='number' min='10' max='30' step='3' placeholder="n회(횟수를 입력하세요)"/> -->
					<!-- <input type='number' min='10' max='30' step='3' placeholder="n분(시간을 입력하세요)"/> -->
					<input type='text' id="phonenum"/>회
					<input type='text' id="phonenum1"/>분
					
					<!-- 0회 0분 입력 -->
			</label>
		</div>
		<br>
		<div class="form-control">
			<label for="q8" label="label-q8">
				8. 산책을 제외하고, 일상생활에서 하루에 얼마나 걸으십니까?
			</label>
			<input type='text' id="phonenum" name="q8"/>시
			<input type='text' id="phonenum1" name="q8"/>분
		</div>
		<br>
        <div class="form-control" id="q9">
			<label for="q9" label="label-q9">
				9. 일상생활 중 하루에 몇 층을 오르내리십니까?
			</label>
			<input type="button" value="상세 보기" onclick="showPopup();" />
			<br>
			<input type='text' id="phonenum" id="floor" name="q9"/>층

		</div>
	</form>


	<h1>정신건강</h1>

	<!-- Create Form -->
	<form id="form2">

		<!-- Details -->
		<div class="form-control">
			<label for="mq1" id="label-mq1">
				1. 지난 한 주 정신적 또는 육체적으로 감당하기 힘들다고 느낀 적이 있습니까?
			</label>
			<label for="mq1-1">
				<input type="radio"
					id="mq1-1"
					name="mq1" value="1">없다</input>
			</label>
			<label for="mq1-2">
				<input type="radio"
					id="mq1-2"
					name="mq1" value="2">가끔 있다</input>
			</label>
			<label for="mq1-3">
				<input type="radio"
					id="mq1-3"
					name="mq1" value="3">자주 있다</input>
			</label>
		</div>
		<br>
		<div class="form-control">
			<label for="mq2" id="label-mq2">
				2. 지난 한 주 매우 편안하며 건강하다고 느낀다.
			</label>
			<label for="mq2-1">
				<input type="radio"
					id="mq2-1"
					name="mq2" value="4">항상 그렇다</input>
			</label>
			<label for="mq2-2">
				<input type="radio"
					id="mq2-2"
					name="mq2" value="3">대부분 그렇다</input>
			</label>
			<label for="mq2-3">
				<input type="radio"
					id="mq2-3"
					name="mq2" value="2">약간(이따금) 그렇다</input>
			</label>
			<label for="mq2-4">
				<input type="radio"
					id="mq2-4"
					name="mq2" value="1">전혀 그렇지 않다</input>
			</label>
		</div>
		<br>
		<div class="form-control">
			<label for="mq3" id="label-mq3">
				3. 지난 한 주 잠자고 난 후에도 개운한 감이 없다
			</label>

			<label for="mq3-1">
				<input type="radio"
					id="mq3-1"
					name="mq3" value="4">항상 그렇다</input>
			</label>
			<label for="mq3-2">
				<input type="radio"
					id="mq3-2"
					name="mq3" value="3">대부분 그렇다</input>
			</label>
			<label for="mq3-3">
				<input type="radio"
					id="mq3-3"
					name="mq3" value="2">약간(이따금) 그렇다</input>
			</label>
			<label for="mq3-4">
				<input type="radio"
					id="mq3-4"
					name="mq3" value="1">전혀 그렇지 않다</input>
			</label>
		</div>
		<br>
		<div class="form-control">
			<label for="mq4" id="label-mq4">
				4. 지난 한 주 무슨 일을 하든 정신을 집중하기가 힘들었다
			</label>

			<label for="mq4-1">
				<input type="radio"
					id="mq4-1"
					name="mq4" value="4">항상 그렇다</input>
			</label>
			<label for="mq4-2">
				<input type="radio"
					id="mq4-2"
					name="mq4" value="3">대부분 그렇다</input>
			</label>
			<label for="mq4-3">
				<input type="radio"
					id="mq4-3"
					name="mq4" value="2">약간(이따금) 그렇다</input>
			</label>
			<label for="mq4-4">
				<input type="radio"
					id="mq4-4"
					name="mq4" value="1">전혀 그렇지 않다</input>
			</label>
		</div>

		<!-- <button id="submit" type="button" class="btn btn-primary" style="width: 100%;" data-target="#result">제출하기</button> -->
	</form>
		<!-- Multi-line Text Input Control -->
		<!-- <button type="submit" value="submit">
			Submit
		</button> -->
	<button onclick="final()" id="submit_button" class="btn btn-primary" style="width: 100%;" data-target="#result">제출하기</button>
	
	<script>
		let q1 = document.getElementById('phonenum');
		function final() {
			document.getElementById("submit_button").innerHTML = "제출 완료";
			var formData1 = $('#form1').serializeArray()
			var formData2 = $('#form2').serializeArray()
			// var formData1 = $('#form1').serialize()
			// var formData2 = $('#form2').serialize()
            var postdata = {
                'formData1':formData1, 'formData2':formData2
            }
			console.log(postdata)

			$.ajax({
                type: 'POST',
				url: '{{url_for("ajax")}}',
                data: JSON.stringify(postdata),
				dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
					// data = JSON.stringify(postdata) //JSON 배열 저장됨
                    console.log(postdata)
					// alert('성공! ' + postdatadata.result2['postdata'])
					alert('성공! ' + JSON.stringify(postdata))
					// alert(data)
					// survey.insert_one(data)
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
			})
		}
		$('#execute').click(function(){
            var id = $('#id1').val();

            var postdata = {
                'id':id
            }
            $.ajax({
                type: 'POST',
                url: '{{url_for("ajax")}}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    alert('성공!' + data.result2['id'])
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        })
	</script>
</body>

</html>
